<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Мои сценарии &middot; Политика в отношении обработки персональных данных</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Мои сценарии - навык для Алисы от Яндекса, позволящий задавать несколько команд в одном сценарии">
    <meta name="keywords" content="алиса, яндекс, навык, сценарий, команда, несколько, alisa, yandex, skill, scenario">
    <meta name="description" content="Навык для создания сценариев Алисы, состоящих из нескольких команд (например, по запросу 'Алиса, доброе утро', можно настроить ответ, содержащий прогноз погоды, время в пути на работу и включить музыку)">
    <meta name="author" content="ye7dna">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 48px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 30px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="ico/favicon.ico">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-43713576-1']);
      _gaq.push(['_setDomainName', 'rosspam.org']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li></li>
          <!--
          <li><a href="register">Регистрация</a></li>
          <li><a href="login">Войти</a></li>
          -->
        </ul>
        <h3 class="muted">Мои сценарии</h3>

      </div>

      <hr>


      <div class="row-fluid marketing">
        <div class="span12">
          <div>

<div id="inputResult">
              <div class="row mb-4">
                <div class="col">
                  <p class="mb-4">
                    </p><h4><strong>Политика в отношении обработки персональных данных</strong></h4>
                  <p></p>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col">
                  <p class="m-0 p-0">
                    </p><h5 id="list-1">1. Общие положения</h5>
                  <p></p>
                  <span>
                      Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных
                      данных "Мои сценарии" (далее – Оператор).
                    </span>
                  <p class="mb-4">
                    </p><ol>
                      <li>
                        Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
                      </li>
                      <li>
                        Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта https://yandex-station.appspot.com.
                      </li>
                    </ol>
                  <p></p>
                </div>
              </div>

              <div class="row">
                &nbsp;
              </div>

              <div class="row mb-4">
                <div class="col">
                  <p class="m-0 p-0">
                    </p><h5 id="list-2">2. Основные понятия, используемые в Политике</h5>
                  <p></p>
                  <p class="mb-4">
                    </p><ol>
                      <li>
                        Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;
                      </li>
                      <li>
                        Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);
                      </li>
                      <li>
                        Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу https://yandex-station.appspot.com;
                      </li>
                      <li>
                        Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств;
                      </li>
                      <li>
                        Обезличивание персональных данных — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных;
                      </li>
                      <li>
                        Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление,
                        хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;
                      </li>
                      <li>
                        Оператор – государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных,
                        состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;
                      </li>
                      <li>
                        Персональные данные – любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю веб-сайта https://yandex-station.appspot.com;
                      </li>
                      <li>
                        Пользователь – любой посетитель веб-сайта https://yandex-station.appspot.com;
                      </li>
                      <li>
                        Предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;
                      </li>
                      <li>
                        Распространение персональных данных – любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование
                        персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;
                      </li>
                      <li>
                        Трансграничная передача персональных данных – передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу;
                      </li>
                      <li>
                        Уничтожение персональных данных – любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и (или) результате
                        которых уничтожаются материальные носители персональных данных.
                      </li>
                    </ol>
                  <p></p>
                </div>
              </div>

              <div class="row">
                &nbsp;
              </div>

              <div class="row mb-4">
                <div class="col">
                  <p class="m-0 p-0">
                    </p><h5 id="list-3">3. Оператор может обрабатывать следующие персональные данные Пользователя</h5>
                  <p></p>
                  <p class="mb-4">
                    </p><ol for="dataTargetResult"><li>Электронный адрес;</li><li>Данные для доступа к Яндекс.Станции (токены, уникальный идентификатор станции и прочие);</li>
<li>Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).</li>              <li>Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.</li></ol>
                  <p></p>
                </div>
              </div>

              <div class="row">
                &nbsp;
              </div>

              <div class="row mb-4">
                <div class="col">
                  <p class="m-0 p-0">
                    </p><h5 id="list-4">4. Цели обработки персональных данных</h5>
                  <p></p>
                  <p class="mb-4">
                    </p><ol>
                      <li>
                        Цель обработки персональных данных Пользователя — предоставление доступа Пользователю к сервисам, информации и/или материалам, содержащимся на веб-сайте.
                      </li>
                      <li>
                        Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной
                        почты ye7dna@yandex.ru с пометкой «Отказ от уведомлениях о новых продуктах и услугах и специальных предложениях».
                      </li>
                      <li>
                        Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.
                      </li>
                    </ol>
                  <p></p>
                </div>
              </div>

              <div class="row">
                &nbsp;
              </div>

              <div class="row mb-4">
                <div class="col">
                  <p class="m-0 p-0">
                    </p><h5 id="list-5">5. Правовые основания обработки персональных данных</h5>
                  <p></p>
                  <p class="mb-4">
                    </p><ol>
                      <li>
                        Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте https://yandex-station.appspot.com. Заполняя соответствующие
                        формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.
                      </li>
                      <li>
                        Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).
                      </li>
                    </ol>
                  <p></p>
                </div>
              </div>

              <div class="row">
                &nbsp;
              </div>

              <div class="row mb-4">
                <div class="col">
                  <p class="m-0 p-0">
                    </p><h5 id="list-6">6. Порядок сбора, хранения, передачи и других видов обработки персональных данных</h5>
                  <p></p>
                  <span>
                      Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты
                    персональных данных.
                    </span>
                  <p class="mb-4">
                    </p><ol>
                      <li>
                        Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.
                      </li>
                      <li>
                        Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства.
                      </li>
                      <li>
                        В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора ye7dna@yandex.ru с пометкой «Актуализация
                        персональных данных».
                      </li>
                      <li>
                        Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора
                        ye7dna@yandex.ru с пометкой «Отзыв согласия на обработку персональных данных».
                      </li>
                    </ol>
                  <p></p>
                </div>
              </div>

              <div class="row">
                &nbsp;
              </div>

              <div class="row mb-4">
                <div class="col">
                  <p class="m-0 p-0">
                    </p><h5 id="list-7">7. Трансграничная передача персональных данных</h5>
                  <p></p>
                  <p class="mb-4">
                    </p><ol>
                      <li>
                        Оператор до начала осуществления трансграничной передачи персональных данных обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов
                        персональных данных.
                      </li>
                      <li>
                        Трансграничная передача персональных данных на территории иностранных государств, не отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу
                        его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных.
                      </li>
                    </ol>
                  <p></p>
                </div>
              </div>

              <div class="row">
                &nbsp;
              </div>

              <div class="row mb-4">
                <div class="col">
                  <p class="m-0 p-0">
                    </p><h5 id="list-8">8. Заключительные положения</h5>
                  <p></p>
                  <p class="mb-4">
                    </p><ol>
                      <li>
                        Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты ye7dna@yandex.ru.
                      </li>
                      <li>
                        В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. Политика действует бессрочно до замены ее новой версией.
                      </li>
                      <li>
                        Актуальная версия Политики в свободном доступе расположена в сети Интернет по адресу https://yandex-station.appspot.com/policy.
                      </li>
                    </ol>
                  <p></p>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p></p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
        })
      }(window.jQuery)
    </script>

    <script type="text/javascript">
      $(document).ready(function(){


        $('#yandex_token').bind('input', function() {
          if ($(this).val().indexOf('access_token') !== -1) {
            var token = /access_token=([^&]+)/.exec($(this).val())[1];
            $(this).val(token);
          }
        });

        $("#get_device_token").click(function() {
          $.ajax({
            'url' : '/device-token',
            'type' : 'GET',
            'data': {
              'Yandex-Token': $('#yandex_token').val()
            },
            'success': function(data) {
              //if (data == "success") {
                $('#device_token').val(data);
              //}
            }
          });
        });

        $("#test_connection").click(function() {
          $.ajax({
            'url' : '/test-connection',
            'type' : 'GET',
            'data': {
              'Device-Token': $('#device_token').val(),
              'Device-Address': $('#device_address').val(),
            },
            'success': function(data) {
              alert(data);
            }
          });
        });

      });
    </script>
  </body>
</html>